---
permalink: /archive/
layout: default
custom-css: archive

title: Archive
description: This Nick Maclean's archive of posts.
---

<div class="content flex flex-column pt-12 pb-4">
    <style>
        @media (max-width: 576px)
        {
            figure
            {
                min-width: 50%;
                width: 50%;
                max-width: 50%;
            }
        }
        @media (min-width: 577px)
        {
            figure
            {
                min-width: 115px;
                width: 155px;
                max-width: 115px;
            }
        }
    </style>

    {% for post in site.posts %}
        {% include post-horizontal.html title=post.title url=post.url thumbnail="thumbnail.jpg" alt=post.title description=post.description %}
        <hr class="my-12 sm:my-4">
    {% endfor %}
</div>