{% if include.type == "page" %}
{% capture imagePath %}{{"/assets/images/" | append: include.name | strip}}{% endcapture %}

{% elsif include.type == "post" %}
{% capture imagePath %}{{page.url | prepend: "/assets" | append: include.name | strip}}{% endcapture %}

{% elsif include.type == "custom" %}
{% capture imagePath %}{{include.dir | strip | append: include.name | strip}}{% endcapture %}
{% endif %}

{% if include.caption %}
<figure {% if include.class %} class="{{ include.class }}" {% endif %}>
<img src="{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
<figcaption>{{ include.caption }}</figcaption>
</figure>

{% else %}
<figure {% if include.class %} class="{{ include.class }}" {% endif %}>
<img src="{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
</figure>

{% endif %}