{% if include.type == "page" %}
{% capture imagePath %}{{"/assets/images/" | append: include.name | strip}}{% endcapture %}

{% elsif include.type == "post" %}
{% capture imagePath %}{{page.url | prepend: "/assets" | append: include.name | strip}}{% endcapture %}

{% elsif include.type == "custom" %}
{% capture imagePath %}{{include.dir | strip | append: include.name | strip}}{% endcapture %}
{% endif %}

{% if include.caption %}
<figure {% if include.class %} class="{{ include.class }}" {% endif %}>
{% if include.video %}
<video muted autoplay controls loop>
<source src="{{ videopath }}">
Your browser will not load/play .mp4 files.
</video>
{% else %}
<img src="{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} style="{{include.style}}"/>
{% endif %}
<figcaption>{{ include.caption }}</figcaption>
</figure>

{% else %}
<figure {% if include.class %} class="{{ include.class }}" {% endif %}>
{% if include.video %}
<video muted autoplay controls loop>
<source src="{{ videopath }}">
Your browser will not load/play .mp4 files.
</video>
{% else %}
<img src="{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} style="{{include.style}}"/>
{% endif %}
</figure>

{% endif %}
