---
permalink: /
layout: default

title: Portfolio
description: This Nick Maclean's personal portfolio.
hide-title: true
---

<div id="portfolio" class="content my-8 grid row-gap-5 column-gap-5">
    {% include portfolio-card.html href="#" title="File Launcher" style="grid-area: top; max-height: 21rem"%}
    {% include portfolio-card.html href="#" title="Asset Catalog" style="grid-area: left; max-height: 21rem"%}
    {% include portfolio-card.html href="#" title="App Executer" style="grid-area: right; max-height: 21rem"%}
</div>
