---
---

figure
{
    margin: 2rem 0rem;
}

main
{
    margin-bottom: 4rem;
}

.post-meta
{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    

    padding-bottom: 1rem;
    margin: 3rem 0 2rem;

    border-bottom: 2px solid lighten(#28232D, 15);
}

.post-categories
{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px)
{
    main
    {
        margin-bottom: 2rem;
    }
}