---
---

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 1rem);
}

main
{
    margin: 0 max(20vw, 50vw-425px);
    height: 100%;
    max-width: 850px;
}

p
{
    text-align: justify;
}


// responsiveness
@media screen and (max-width: 1300px)
{
    main
    {
        margin: 0 max(12.5vw, 50vw-425px);
    }
}

@media screen and (max-width: 850px)
{
    main
    {
        margin: 0 2vw;
    }
}

@media screen and (max-width: 500px)
{
    p
    {
        text-align: left;
    }
}