<footer class="content-wrapper py-5">
    <div class="content flex flex-column sm:flex-row justify-between">
        <a href="/" class="text-center sm:text-left display-block my-auto no-underline h-fit"> 
            <h1 class="font-2xl m-0 lh-8"> Nick Maclean </h1>
        </a>

        {% include socials.html hide-on-mobile=true class="flex flex-row flex-wrap justify-center font-4xl sm:font-2xl mt-4 sm:mt-0" child-class="mx-3 sm:my-2 c-text-primary no-underline dark-to-default" %}
    </div>
</footer>