// css grid
.grid-about
{
    display: grid;
    grid-template-areas:
        'name name'
        'left right';
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 50% 50%;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 75%;
}

.grid-item-left
{
    grid-area: left;
}

.grid-item-right
{
    grid-area: right;
}

.grid-item-name
{
    grid-area: name;
    margin-bottom: 1rem;
}

.grid-item-name > h1
{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1050px)
// small desktop or big tablet, tablet, and smartphone
{
    .grid-about
    {
        grid-template-areas:
            'name name'
            'left left'
            'right right';
        position: relative;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        margin-top: 2rem;
        width: 100%;
    }
}

@media (max-height: 850px)
{
    .grid-about
    {
        top: 55%;
    }
}