.portfolio
{
    display: flex;
    flex-direction: column;
    
    margin-left: -5vw;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}

.portfolio-focus
{
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    width: 90vw;
    margin-bottom: 2rem;

    scrollbar-width: none;
}

.portfolio-focus::-webkit-scrollbar
{
    display: none;
}

.portfolio-project
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 90vw;
}

.portfolio-project > video
{
    max-width: 49vw;
    max-height: 45vh;
    width: auto;
    height: auto;
}

.portfolio-project > div
{
    width: 41vw;
    max-width: 600px;
    margin: auto;
    margin-left: 1vw;
    padding-right: .75rem;
}

.portfolio-project > div> h3
{
    padding-bottom: .5rem;
}

.portfolio-carousel
{
    display: inline-flex;
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    width: 80vw;
    scrollbar-color: #e4e4d923 rgba(0,0,0,0);
}

.portfolio-carousel::-webkit-scrollbar
{
    background: rgba(0,0,0,0);
}

.portfolio-carousel::-webkit-scrollbar-thumb
{
    background: #e4e4d923;
}

.portfolio-carousel > a > img
{
    max-width: 25vw;
    max-height: 20vh;
    width: auto;
    height: auto;
    margin: 0 .5vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .2s all ease-in-out;
}

.portfolio-carousel > a > img:hover
{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -o-transform: scale(105%);
    -ms-transform: scale(105%);
    -moz-transform: scale(105%);
    -webkit-transform: scale(105%);
    transform: scale(105%);
}

.portfolio-carousel > a > img:active
{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -o-transform: scale(95%);
    -ms-transform: scale(95%);
    -moz-transform: scale(95%);
    -webkit-transform: scale(95%);
    transform: scale(95%);
}

.arrow-left, .arrow-right
{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5rem;
    margin-left: .5rem;

    width: 2vw;
    height: 5.5vw;

    background-image: url("../pictures/arrow-left.png");
    background-size: contain;
    background-repeat: no-repeat;

    flex-shrink: 0;

    transition: .2s all ease-in-out
}

.arrow-right
{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow-right:hover
{
    -ms-transform: rotate(180deg) scale(105%);
    -webkit-transform: rotate(180deg) scale(105%);
    -moz-transform: rotate(180deg) scale(105%);
    -o-transform: rotate(180deg) scale(105%);
    transform: rotate(180deg) scale(105%);
}

.arrow-right:active
{
    -ms-transform: rotate(180deg) scale(95%);
    -webkit-transform: rotate(180deg) scale(95%);
    -moz-transform: rotate(180deg) scale(95%);
    -o-transform: rotate(180deg) scale(95%);
    transform: rotate(180deg) scale(95%);
}

.arrow-left:hover
{
    -o-transform: scale(105%);
    -ms-transform: scale(105%);
    -moz-transform: scale(105%);
    -webkit-transform: scale(105%);
    transform: scale(105%) ;
}

.arrow-left:active
{
    -o-transform: scale(95%);
    -ms-transform: scale(95%);
    -moz-transform: scale(95%);
    -webkit-transform: scale(95%);
    transform: scale(95%);
}

.portfolio-carousel-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

// tablets
@media (max-width: 850px)
{
    .portfolio-project
    {
        flex-direction: column;
    }

    // TODO make arrows bigger
}

// phones
@media (max-width: 550px)
{
    .portfolio-project
    {
        min-width: 95vw;
    }

    .portfolio-project > video
    {
        max-width: 90vw;
        max-height: none;
    }

    .portfolio-project > div
    {
        min-width: 90vw;
        margin-top: 1.25rem;
    }

    .portfolio
    {
        flex-direction: column-reverse;
    }
    
    .portfolio-carousel
    {
        margin-bottom: .75rem;
    }

    .portfolio-project > div > h2
    {
        font-size: 1.4rem;
    }

    .portfolio-project > div > h3
    {
        font-size: 1.15rem;
        line-height: 1rem;
    }

    .portfolio-project > div > p
    {
        font-size: .85rem;
        line-height: 1.3rem;
    }
}