nav
{
    background-color: $clr-secondary;
    margin: -.5rem -.5rem 0 -.5rem;
    padding: calc(0rem + .5rem) calc(20vw + .5rem);         // the .5rem offsets the default margin that's on the body
}

nav > div
{
    display: inline;
}

.nav-links-right
{
    float: right;

    display: inline-flex;
    flex-direction: row;
}

.nav-links-right a
{
    margin-left: 1.5rem;
}

nav a
{
    text-decoration: none;
    color: $clr_primary;
    font-size: 1.75rem;

    border-bottom: 3px solid rgba($clr-orange,  0);
    transition: all ease-in-out .15s;
}

nav a:hover
{
    border-bottom: 3px solid rgba($clr-orange, 1);
}

@media screen and (max-width: 1300px)
{
    nav
    {
        padding: calc(0rem + .5rem) calc(12.5vw + .5rem);
    }

    .nav-links-right > div
    {
        margin-left: 1.25rem;
    }

}

@media screen and (max-width: 850px)
{
    nav
    {
        padding: calc(0rem + .5rem) calc(2vw + .5rem);
    }

    .nav-links-right > div
    {
        margin-left: 1rem;
    }

}