// whole nav bar
nav
{
    background-color: $color_primary;
    box-shadow: 0px 1px 10px $color_black;
    padding: .5em 12%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-links-left
{
    flex: 1 1 200px;
}

.nav-links-right
{
    display: flex;
    flex-direction: row;
}

.nav-links-right > div
{
    margin-left: 1rem;
    margin-right: 1rem;
}

// header in nav bar
nav > .nav-title
{
    border-right-style: solid;
    border-right-color: $color_primary;
    border-right-width: 3px;
    padding-right: .4em;
}

// nav bar list items
nav > li
{
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;
}

// nav bar active link
nav > li > .active-page
{
    color: $color_tertiary;
}

// nav bar links
nav a
{
    text-decoration: none;
    color: $color_secondary;
    font-size: 1.6rem;
    // width: 100px;
    text-align: center;
}