// whole nav bar
nav
{
    background-color: $color_secondary;
    padding: .5em 10vw;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-links-left
{
    flex: 1 1 200px;
}

.nav-links-right
{
    display: flex;
    flex-direction: row;
}

.nav-links-right > div
{
    margin-left: 2rem;
}

.nav-title > a
{
    color: $color_primary;
}

// nav bar links
nav a
{
    text-decoration: none;
    color: $color_secondary;
    font-size: 1.6rem;
    text-align: center;

    transition: .2s all ease-in-out;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}

nav a:hover
{
    border-bottom-color: $color_orange;
}

@media only screen and (max-width: 550px)
{
    .nav-title > a
    {
        font-size: 1.25rem;
    }

    .nav-links-right > div > a
    {
        font-size: 1.1rem;
    }
}

// smoll phone
@media (max-width: 410px)
{
    .nav-title > a
    {
        font-size: 1.1rem;
    }

    .nav-links-right > div > a
    {
        font-size: .95rem;
    }

    .nav-links-right > div
    {
        margin-left: .4rem;
    }
}