.neighbors
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.neighbors a
{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
    height: 4rem;
    padding: .5rem 1rem;
    margin: 0 .5rem;

    width: 100%;

    border-radius: .5rem;
    border: .15rem solid darken($clr-gray, 3);
    background-color: lighten($clr-primary, 1);
    transition: all ease-in-out .15s;
    
    color: $clr-secondary;
}

.neighbors a p
{
    text-align: left;
}

.neighbors a:first-child
{
    flex-direction: row;
}

.neighbors a:hover
{
    border: .15rem solid darken($clr-gray, 3);
    background-color: lighten($clr-primary, 5);
}

.arrow-left, .arrow-right
{
    width: 2rem;
    height: 2rem;
    border: .25rem solid $clr-secondary;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 15%;
}

.arrow-left
{
    transform: rotateZ(45deg);
    margin-right: 1rem;
}

.arrow-right
{
    transform: rotateZ(-135deg);
    margin-left: 1rem;
}