// Useful CSS Components for general use
// these are available globally

@import 'colors';

// --- colors --- //
.bg-default
{
    background-color: $clr-background;
}

.c-text-primary
{
    color: $clr-text-primary;
}

.c-text-highlight
{
    color: $clr-text-highlight
}

.c-text-highlight-alt
{
    color: $clr-text-highlight-alt;
}

.c-text-dark
{
    color: $clr-text-dark;
}

// --- links --- //
a.no-underline:hover
{
    background-size: 0% 2px;
}

$link-initial-brightness: 80%;
a.dark-to-default
{
    transition: ease-in-out .1s filter;
    filter: brightness($link-initial-brightness);
}

a.dark-to-default:hover
{
    filter: brightness(100%);
}

// --- height --- //
.h-fit
{
    height: fit-content;
}

.mh-100vh
{
    min-height: 100vh;
}

// --- text styles --- //
.lh-4
{
    line-height: 1rem;
}

.lh-5
{
    line-height: 1.25rem;
}

.lh-6
{
    line-height: 1.5rem;
}

.lh-7
{
    line-height: 1.75rem;
}

.lh-8
{
    line-height: 2rem;
}

// --- lists --- //
ol.style-none, ul.style-none
{
    list-style-type: none;
}

// --- arrow animations --- //
$arrow-offset: 10px;
$arrow-half-cycle: .7s;
a:hover .icon-arrow-right
{
    animation: arrow-right $arrow-half-cycle ease-in-out infinite alternate;
}

a:hover .icon-arrow-left
{
    animation: arrow-left $arrow-half-cycle ease-in-out infinite alternate;
}

a:hover .icon-arrow-up
{
    animation: arrow-up $arrow-half-cycle ease-in-out infinite alternate;
}

@keyframes arrow-right
{
    to { transform: translateX($arrow-offset); }
}

@keyframes arrow-left
{
    to { transform: translateX(-$arrow-offset); }
}

@keyframes arrow-up
{
    to { transform: translateY(-$arrow-offset); }
}