// .grid-portfolio
// {
//     display: grid;
//     grid-template-areas:
//         'left right';
//     grid-template-columns: 60% 40%;
// }

// .portfolio-item-left
// {
//     grid-column: 1 / span 1;
// }

// .portfolio-item-right
// {
//     grid-column: 2 / span 1;
// }

.portfolio
{
    margin-top: 2em;
    justify-content: space-between;
}

.portfolio-col-big
{
    width: 58%;
}

.portfolio-col-small
{
    width: 40%;
}

.portfolio-thumbnail
{
    width: 100%;
    opacity: 100%;
}

.portfolio-thumbnail:hover
{
    opacity: 0;
}

.portfolio-video
{
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity .3s
}

.portfolio-video:hover
{
    opacity: 100%;
}

.portfolio-image-text
{
    position: absolute;
    bottom: .3em;
    left: .5em;

    text-shadow: 2px 3px 10px $color_black;
}