<nav>
    <ul class="nav-links">
        <li class="nav-title">
            <a href="/"> {{site.title}} </a>
        </li>
        <li>
            <a href="/about" {% if page.title == "About" %} class="active-page"{% endif %}> About </a>
        </li>
        <!-- <li>
            <a href="/contact" {% if page.title == "Contact" %} class="active-page"{% endif %}> Contact </a>
        </li> -->
        <li>
            <a href="/portfolio" {% if page.title == "Portfolio" %} class="active-page"{% endif %}> Portfolio </a>
        </li>
        <!-- <li>
            <a href="/blog" {% if page.title == "Blog" %} class="active-page"{% endif %}> Blog </a>
        </li> -->
    </ul>
</nav>