---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}}">
        
        <title> {{ site.title }} | {{ page.title }}</title>
        
        <link rel="stylesheet" type="text/css" href="/assets/css/default.css">

        <!-- {% if page.custom-css != null %}
            <link rel="stylesheet" type="text/css" href="/assets/styles/{{page.custom-css}}.css">
        {% endif %} -->
    </head>
    <body class="flex flex-column justify-between" style="min-height: 100vh;">
        {% include navbar.html %}

        <main class="content-wrapper">
            {{ content }}
        </main>

        {% include footer.html %}
        
        <script>
            {% include js/burger.js %}
        </script>

        {% include analytics.html %}
    </body>

</html>
