---
layout: default
---

<article class="content mb-12 pt-4">
    {% unless page.hide-title %}
    <header class="mb-6"> <h1 style="text-align: center;">{{page.title}}</h1> </header>
    {% endunless %}

    <section>
        {{content}}

        {% if page.date %}
        {% unless page.hide-date %}
        <p class="text-left c-text-dark pt-1 font-light"> Last Updated: {{ page.date | date: "%B %Y" }} </p>
        {% endunless %}
        {% endif %}

        {% unless hide-neighbor-posts %}
        {% include neighbor-posts.html %}
        {% endunless %}
    </section>
</article>