// global document colors
$color_black: #1e1f1f;
$color_white: #fafafa;
$color_orange: #f5ab35;

$color_primary: #282929;
$color_secondary: #fafafa;
$color_blue_dark: #3455db;
$color_blue_light: #19b5fe;

// default document formatting
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-size: 1.5em;
    font-family: Arial;
    background-color: $color_primary;
    color: $color_secondary;
    text-align: left;
    line-height: 2rem;
}

main
{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}

h1
{
    font-size: 3rem;
}

h2
{
    font-size: 2rem;
}

h3
{
    font-size: 1.5rem;
    font-style: italic;
}

h4
{
    font-size: 1.2rem;
    font-weight: normal;
}

p
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.container
{
    position: relative;
}

.no-margin
{
    margin: 0;
}

// colors
.text-primary
{
    color: $color_primary;
}

.text-secondary
{
    color: $color_secondary;
}

.text-blue-light
{
    color: $color_blue_light;
}

.text-blue-dark
{
    color: $color_blue_dark;
}

.text-orange
{
    color: $color_orange;
}

// links
a:visited
{
    color: default;
}

.link-clean
{
    text-decoration: none;
}

.link-highlight
{
    color: $color_orange;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}

.link-highlight:hover
{
    border-bottom-color: $color_orange;
}

// horizontal unordered lists
.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}

.flex-row-li
{
    margin-left: .25em;
    margin-right: .5em;
}