// global document colors
$clr-white: #fdfaf4;
$clr-black: #28232D;
$clr-gray: #47444B;
$clr-orange: #f5ab35;
$clr-blue-navy: #36559A;
$clr-blue-light: #5cc2f1;

$clr-primary: $clr-black;
$clr-secondary: $clr-white;


body
{
    font-family: Arial, sans-serif;
    background-color: $clr-primary;
    color: $clr-secondary;
}


// text elements
h1
{
    font-size: 3rem;
}

h2
{
    font-size: 2.2rem;
}

h3
{
    font-size: 1.725rem;
}

h4, h5
{
    font-size: 1.5rem;
}

h5
{
    font-style: italic;
}

p
{
    font-size: 1.1rem;
    line-height: 1.6rem;
}


// text styles
.bold
{
    font-weight: bold;
}

.center-text
{
    text-align: center;
}


// colors
.black
{
    color: $clr-black;
}
.white
{
    color: $clr-white;
}
.orange
{
    color: $clr-orange;
}
.blue-navy
{
    color: $clr-blue-navy;
}
.blue-light
{
    color: $clr-blue-light;
}

.primary
{
    color: $clr-primary;
}

.secondary
{
    color: $clr-secondary;
}


.black-hover, .white-hover, .orange-hover, .blue-navy-hover, .blue-light-hover
{
    transition: color ease-in-out .15s;
}

.black-hover:hover
{
    color: $clr-black;
}
.white-hover:hover
{
    color: $clr-white;
}
.orange-hover:hover
{
    color: $clr-orange;
}
.blue-navy-hover:hover
{
    color: $clr-blue-navy;
}
.blue-light-hover:hover
{
    color: $clr-blue-light;
}


// links
a
{
    color: $clr-blue-light;
    text-decoration: none;
    border-bottom: 2px solid rgba($clr-orange,  0);
    transition: all ease-in-out .15s;
}

a:hover
{
    border-bottom-color:rgba($clr-orange,  1);
}


// misc
.no-margin
{
    margin: 0;
}

.no-margin-bottom
{
    margin-bottom: 0;
}

.no-margin-top
{
    margin-top: 0;
}

.margin-bottom-1rem
{
    margin-bottom: 1rem;
}

.no-side-margin
{
    margin-left: 0;
    margin-right: 0;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}