---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}}">
        
        <title> {{ site.title }} | {{ page.title }}</title>
        
        <link rel="stylesheet" type="text/css" href="/assets/css/default.css">

        <!-- {% if page.custom-css != null %}
            <link rel="stylesheet" type="text/css" href="/assets/styles/{{page.custom-css}}.css">
        {% endif %} -->
        
        <script type="text/javascript" src="/assets/js/burger.js"></script>
        {% include analytics.html %}

    </head>
    <body class="flex flex-column justify-between mh-100vh">
        {% unless page.hide-nav %}
        {% include navbar.html %}
        {% endunless %}

        <main class="content-wrapper">
            {{ content }}
        </main>

        {% unless page.hide-footer %}
        {% include footer.html %}
        {% endunless%}
        

    </body>

</html>
