.category
{
    margin-left: .7rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.category::before
{
    content: "#";
}

.category::after
{
    content: ","
}

.category:last-child::after
{
    content: "";
}