nav
{
    background-color: $clr-secondary;
    margin: -.5rem -.5rem 0 -.5rem;
    padding: calc(0rem + .5rem) ( max(20vw, 50vw-425px) + .5rem);         // the .5rem offsets the default margin that's on the body
}

nav > div
{
    display: inline;
}

.nav-links-right
{
    float: right;

    display: inline-flex;
    flex-direction: row;
}

.nav-links-right a
{
    margin-left: 1.5rem;
}

nav a
{
    color: $clr_primary;
    font-size: 1.75rem;
    border-bottom-width: 4px;
}

@media screen and (max-width: 1300px)
{
    nav
    {
        padding: calc(0rem + .5rem) ( max(12.5vw, 50vw-425px) + .5rem);
    }

    .nav-links-right > div
    {
        margin-left: 1.25rem;
    }

}

@media screen and (max-width: 850px)
{
    nav
    {
        padding: calc(0rem + .5rem) calc(2vw + .5rem);
    }

    .nav-links-right > div
    {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 600px)
{
    .nav-links-right
    {
        float: none;
        display: block;
        margin-top: .5rem;
    }

    .nav-links-right a
    {
        margin-right: 1rem;
        margin-left: 0;

        font-size: 1.4rem;
    }
}