---
---

.about
{
    display: grid;
    grid-template: 'pc pc pc pc . tx tx tx tx tx tx tx';
    grid-template-columns: repeat(12, 1fr);

    justify-content: center;
    align-content: center;
}

.about-text
{
    grid-area: tx;
}

.about-picture
{
    grid-area: pc;
}

.about-text, .about-picture
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-picture > img
{
    max-width: min(100%, 300px);                // *** NEED TO UPDATE WHEN THE PROFILE PICTURE CHANGES ***

    border-radius: 2%;
}

.about p
{
    line-height: 1.5rem;
    margin: .5rem 0;

    text-align: justify;
}

@media screen and (max-width: 1000px)
{
    .about
    {
        grid-template-columns: repeat(4, 1fr) .5fr repeat(7, 1fr);
    }
}

@media screen and (max-width: 700px)
{
    .about
    {
        grid-template-areas: 'pc'
                             'tx';
        grid-template-columns: 1fr;

        margin: 2rem 0;
        grid-row-gap: 1.5rem;
    }

    .about-picture
    {
        flex-direction: row;
    }
}