---
---

.portfolio
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.portfolio-project img
{
    max-width: 100%;
    width: 100%;

    border-radius: 2%;
    
    transition: all ease-in-out .1s;
}

.portfolio-project img:hover
{
    transform: scale(1.05);
}